body {
background-color:black;
    background-size: cover;
    background-repeat: no-repeat;
    color:  #ffffff; /* Dark grey text for better readability */
    font-family: "Courier New", Courier, monospace;
    letter-spacing: 0.1em;
    
    min-height: 100vh;   /* vh = viewport height, 100vh = full screen */
    margin: auto;  /* automatic rim  */
    max-width: 600px;
    padding: 20px;
    text-align: center;

    display: flex; /* makes body to a flex container */
    flex-direction: column; /* uh yeah only know the german word "untereinander"  */
    align-items: center; /* centers everything  */
}

a {
    color: #ffffff; /* Bright blue color for links */
    text-decoration: none; /* Remove underline from links */
}

a:hover {
    text-decoration: none;
}

.container {
    max-width: 1000px; /* Limit the maximum width of the container */
    margin: 0 auto; /* Center the container */
    padding: 20px; /* Add padding around the content */
}

h1, h2, h3 {
    margin-bottom: 10px; /* Space below headings */
    font-family:"Courier New", Courier, monospace;
    font-weight: 600;
}

p{
    line-height: 1.6; /* Improve readability with line height */
    margin-bottom: 15px; /* Space below paragraphs */
    font-size: 18px;
}

button, a{
    background-color: rgb(255, 255, 255); /* bg color */
    color: #000000; /* text color */
    padding: 10px 10px;
    border: none; /* no standard uh rims? idk my english isnt that good */
    border-radius: 5px; /* rounded edges */
    text-decoration: none; /* no like underline link */
    cursor: pointer;     /* hand cursor */
    font-size: 16px;
    transition: background 0.3s, transform 0.2s; /* smooth click */
}

.title { 
    font-family: inherit;
    font-weight: 700;
    font-size: 3rem;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid #111; /* blinking Cursor */
    width: 0; /*  animated */
    animation: typing 2s steps(20, end) forwards, blink 0.7s step-end infinite;
}

/*typing effekt*/
@keyframes typing {
    from { width: 0 }
    to { width: 15ch } /*how many signs*/


/* cursor blink*/

} 
@keyframes blink {
    50% { border-color: transparent}
}
}

